<footer class="footer bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>APK Marketing</h5>
                <p>Automatizovaný marketing pro vaše weby pomocí umělé inteligence. Nechte AI pracovat za vás.</p>
                <div class="social-icons mt-3">
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Rychlé odkazy</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Domů</a></li>
                    <li><a href="/sluzby" class="text-light">Služby</a></li>
                    <li><a href="/ceny" class="text-light">Cenové plány</a></li>
                    <li><a href="/o-nas" class="text-light">O nás</a></li>
                    <li><a href="/kontakt" class="text-light">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Kontaktujte nás</h5>
                <address>
                    <p class="mb-1"><i class="fas fa-map-marker-alt me-2"></i> Praha, Česká republika</p>
                    <p class="mb-1"><i class="fas fa-envelope me-2"></i> info@apk-marketing.cz</p>
                    <p class="mb-1"><i class="fas fa-phone me-2"></i> +420 123 456 789</p>
                </address>
            </div>
        </div>
        <hr class="my-3 bg-secondary">
        <div class="row">
            <div class="col-md-6 text-md-start text-center">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> APK Marketing. Všechna práva vyhrazena.</p>
            </div>
            <div class="col-md-6 text-md-end text-center">
                <p class="mb-0">
                    <a href="/obchodni-podminky" class="text-light me-3">Obchodní podmínky</a>
                    <a href="/ochrana-soukromi" class="text-light">Ochrana soukromí</a>
                </p>
            </div>
        </div>
    </div>
</footer>