<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fas fa-robot me-2"></i>APK Marketing
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Domů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sluzby">Služby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ceny">Cenové plány</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/o-nas">O nás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
            </ul>
            <div class="d-flex">
                <a href="/prihlaseni" class="btn btn-outline-light me-2">Přihlášení</a>
                <a href="/registrace" class="btn btn-light">Registrace</a>
            </div>
        </div>
    </div>
</nav>